.lauren {
    padding-left: 0px;
    padding-right: 0px;
}

.grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 50px;
    grid-auto-rows: 45% 45%;
    margin:10px;
    border:3px solid black;
    border-radius: 5px;
    padding:10px;
    
}
 .one {
    border: 2px solid #36f1df;
    border-radius:3px;
    padding:5px;

  }
 .two { 
    border: 2px solid #36f1df;
    border-radius:3px;
    padding:5px;
  }
  .three {
    border: 2px solid #36f1df;
    border-radius:3px;
    padding:5px;
  }
  .four {
    border: 2px solid #36f1df;
    border-radius:3px;
    padding:5px;
  }
  .five {
    border: 2px solid #36f1df;
    border-radius:3px;
    padding:5px;
  }
  .six {
    border: 2px solid #36f1df;
    border-radius:3px;
    padding:5px;
  } 

body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #36f1df;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.meet h1{
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: 'Mandali', sans-serif;
}
.meet h2{
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: 'Mandali', sans-serif;
}
.meet-grid{
    display:grid;
    grid-template-columns:50% 50%;
    grid-gap: 10px;
}
.meet p1{
    border:2px solid #36f1df;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    margin-bottom: 50px;
}
.meet p2{
    border:2px solid #36f1df;
    border-radius: 5px;
    padding:10px;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    margin-bottom: 50px;
}